@layer init {
    .balance_container {
        align-items: center;
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        display: flex;
        gap: 10px;
        grid-column: 1 / -1;
        justify-content: center;
        justify-self: center;
        padding: 10px;
        width: 70%;
    }

    .control_panel {
        align-items: center;
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        justify-content: space-evenly;
        gap: 20px 0px;

        [active] {
            background: var(--Theme__block__background_accent);
        }
    }

    .display {
        overflow: hidden;
        width: 100%;
    }

    .hero_container {
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        box-sizing: border-box;
        padding: var(--Theme__block__padding);
        width: 100%;
    }

    .hero_image {
        height: 40dvh;
        padding: var(--Theme__block__gap);
        box-sizing: border-box;
        margin: auto;
        display: block;
    }

    .hero_name {
        background: var(--Theme__block__background_accent);
        border-radius: var(--Theme__block_rounding);
        margin: auto;
        margin-bottom: 15px;
        padding: var(--Theme__block__gap);
        text-align: center;
        width: 50%;
    }

    .hero_status {
        width: 50%;
        margin: auto;

        &[status='sale'] {
            background: var(--Theme__block__background_accent_light);
        }

        &[status='sold'] {
            background: #000d;
        }
    }

    .label {
        align-items: end;
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        justify-items: center;
        margin: auto;
        margin-bottom: var(--Theme__block__padding);
        padding: 7px;
        /* width: 70%; */
        box-sizing: border-box;
    }

    .label_checkBox {
        align-self: center;
        aspect-ratio: 1;
        border-radius: 100%;
        height: 40px;
    }

    .label_icon {
        height: 50px;
        width: auto;
    }

    .label_price {
        font-size: 45px;
        line-height: 1em;
    }

    .label_title {
        grid-area: 1 / 1 / 1 / 4;
        text-align: center;
        align-self: center;
    }

    .leafable {
        &::part(item) {
            box-sizing: border-box;
            display: grid;
            grid-template: 100% / 100%;
            height: 100%;
            width: 100%;
        }
    }

    .level {
        align-items: center;
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        display: flex;
        gap: 15px;
        justify-content: center;
        padding: var(--Theme__block__gap);

        &::after {
            content: ' уровень';
        }
    }

    .level_container {
        display: contents;
    }

    .page_hero {
        align-content: center;
    }

    .panel_button {
        align-items: center;
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        display: flex;
        gap: 7px;
        padding: var(--Theme__block__gap);
    }

    .repeater_level {
        display: grid;
        gap: 10px 5%;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .root {
        display: grid;
        grid-template-rows: min-content auto min-content;
        height: 100%;
    }

    .shop_page {
        align-content: center;
        display: grid;
        gap: var(--Theme__block__padding);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        padding-top: var(--Theme__block__padding);
    }

    .slider {
        grid-area: 1 / 1 / -1 / -1;
        width: 100%;
    }

    .slider__container {
        align-items: center;
        display: grid;
        grid-template-columns: 50px auto 50px;
        justify-items: center;
        width: 100%;
    }

    .slider_arrow_next {
        grid-area: 1 / 3 / 1 / 4;
        z-index: 1;
    }

    .slider_arrow_prev {
        grid-area: 1 / 1 / 1 / 2;
        z-index: 1;
    }
}
