@layer init {
    :host {
        display: inline-block;
        position: absolute;
        cursor: default;
        user-select: none;
        pointer-events: none;
        width: 70px;
    }

    .point {
        aspect-ratio: 1;
        height: 30px;
        aspect-ratio: 1;
        display: inline-block;
    }

    .profit {
        color: #000;
        display: inline-block;
    }
}
