@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        display: inline-block;
        position: absolute;
        cursor: default;
        user-select: none;
        pointer-events: none;
    }

    .point {
        aspect-ratio: 1;
        background: #70757955;
        border-radius: 100%;
        height: 30px;
        display: inline-block;
    }

    .profit {
        color: #000;
        display: inline-block;
    }
}
