@layer init {
    /* .reward { */
    /*     &:active { */
    /*         background: var(--Theme__block__background); */
    /*     } */
    /* } */

    .image {
        height: 6dvh;
    }

    .root {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var( --Theme__block__gap);
    }

    .task {
        display: flex;
        justify-align: center;
        border-radius: var(--Theme__block_rounding);
        align-items: center;
        background: var(--Theme__block__background);
        padding: 5px;
        text-align: center;
    }
}
