@layer init {
    .image {
        height: 6dvh;
    }

    .image_info {
        width: 10dvh;
    }

    .info {
        display: flex;
        justify-content: center;
        place-items: center;
    }

    .menu_top__item {
        background: var(--Theme__block__background);
        border-radius: 16px;
        box-sizing: border-box;
        display: grid;
        padding: var(--Theme__block__gap);
        place-items: center;
        text-align: center;
    }

    .root {
        display: grid;
        grid-auto-columns: 100%;
        grid-template-rows: 15% 55% 15% 15%;
        height: 100%;
        place-items: center;
    }

    .top {
        display: grid;
        font-size: 14px;
        grid-gap: var(--Theme__block__gap);
        grid-template-columns: 2fr 3fr 1fr;
        width: 100%;
    }

    .user_info {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        font-size: 20px;
        align-self: start;
    }

    .crystals_info {
        justify-content: start;
    }

    .energy_info {
        justify-content: start;
    }

    .timer_crystals {
        justify-content: start;
    }

    .menu {
        display: grid;
        font-size: 20px;
        grid-gap: var(--Theme__block__gap);
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .menu_footer__item {
        background: var(--Theme__block__background);
        border-radius: 16px;
        box-sizing: border-box;
        display: grid;
        padding: var(--Theme__block__gap);
        place-items: center;
        text-align: center;
    }

    .menu_image {
        height: 10dvh;
        width: 10dvh;
    }
}
