@layer init {
    .crystals {
        font-size: 25px;
    }

    .energy {
        font-size: 25px;
    }

    .energy_crystals_info {
        display: grid;
    }

    .image {
        height: 6dvh;
    }

    .info {
        display: flex;
        font-size: 14px;
        justify-content: center;
        place-items: center;
    }

    .menu_top__item {
        background: var(--Theme__block__background);
        border-radius: 16px;
        box-sizing: border-box;
        display: grid;
        padding: var(--Theme__block__gap);
        place-items: center;
        text-align: center;
    }

    .root {
        display: grid;
        grid-auto-columns: 100%;
        /* grid-template: repeat(4, auto) / 100%; */
        height: 100%;
        place-items: center;
    }

    .top {
        display: grid;
        font-size: 14px;
        grid-gap: var(--Theme__block__gap);
        grid-template-columns: 2fr 2fr 1fr;
        width: 100%;
    }

    .user_info {
        display: flex;
    }
}
