@layer init {
    :not(:defined) {
        display: none;
    }

    :root {
        --Theme__accent_hue: 120;
        --Theme__background: hsl(var(--Theme__hue), 9%, 14%);
        --Theme__block__background: hsl(var(--Theme__hue), 56%, 9%);
        --Theme__block__background_accent: hsl(var(--Theme__accent_hue), 75%, 43%);
        --Theme__block__background_accent_dark: hsl(var(--Theme__accent_hue), 35%, 25%);
        --Theme__block__background_accent_light: hsl(var(--Theme__accent_hue), 100%, 52%);
        --Theme__block__background_light: hsl(var(--Theme__hue), 0%, 40%);
        --Theme__block__gap: 8px;
        --Theme__button__background: hsl(var(--Theme__hue), 0%, 80%);
        --Theme__button__foreground: hsl(var(--Theme__hue), 0%, 20%);
        --Theme__button__foreground_light: hsl(var(--Theme__hue), 10%, 80%);
        --Theme__block_rounding: 40px;
        --Theme__block__padding: 20px;
        --Theme__edge__width: 16px;
        --Theme__font: var(--Theme__font_size) / var(--Theme__font_lineHeight) var(--Theme__font_family);
        --Theme__font_family: 'Arial';
        --Theme__font_lineHeight: 2;
        --Theme__font_size: 20px;
        --Theme__foreground: #fff;
        --Theme__ghost_transition: opacity 0.6s ease-out;
        --Theme__hue: 15;
        --Theme__shadow: #0004;

        background: var(--Theme__background);
        color: var(--Theme__foreground);
        font: var(--Theme__font);
        overflow: hidden;
        line-height: 1.2em;
    }


    * {
        user-select: none !important;
    }

    body {
        background: url('../../../Storage/Images/Background.png') center / cover;
        margin: 0;
    }

    x-flickable {
        overflow: hidden;
        position: relative;

        &::after {
            background: linear-gradient(transparent, var(--Theme__shadow));
            border-radius: var(--Theme__block_rounding) var(--Theme__block_rounding) 0 0;
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: auto;
            transition: var(--Theme__ghost_transition);
            z-index: 1;
        }
        &[_scroll_height]:not([_scrollEdge_y_end])::after {
            opacity: 1;
        }

        &::before {
            background: linear-gradient(var(--Theme__shadow), transparent);
            border-radius: 0 0 var(--Theme__block_rounding) var(--Theme__block_rounding);
            bottom: auto;
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: var(--Theme__ghost_transition);
            z-index: 1;
        }
        &[_scroll_height]:not([_scrollEdge_y_begin])::before {
            opacity: 1;
        }
    }

    [_building] {
        visibility: hidden;
    }
}
