@layer init {
    :host {
        --_Flickable__puck__margin_inner: calc(-1 * var(--Flickable__puck__margin_inner));
        --_Flickable__puck__margin_outer: calc(-1 * var(--Flickable__puck__margin_outer));
        --_Flickable__puck_x__length: 0;
        --_Flickable__puck_y__length: 0;
        --_Flickable__scrollBar_phantom__margin: calc(-1 * var(--Flickable__scrollBar__width));


        --Flickable__display__height_max: unset;
        --Flickable__gap: 0px;
        --Flickable__puck__length_min: 20%;
        --Flickable__puck__margin_inner: 2px;
        --Flickable__puck__margin_outer: 2px;
        --Flickable__scrollBar__width: 10px;

        display: block;
    }


    slot[name='display'] {
        &::-webkit-scrollbar {
            display: none !important;
        }
        &::slotted(*) {
            max-height: var(--Flickable__display__height_max);
            overflow: auto !important;
            scrollbar-width: none !important;
            touch-action: none !important;
        }

        :host([disabled]) &::slotted(*) {
            overflow: hidden !important;
        }
    }


    .display {
        box-sizing: border-box;
        display: block !important;
        max-height: var(--Flickable__display__height_max);
        overflow: auto !important;
        scrollbar-width: none !important;
        touch-action: none !important;

        &::-webkit-scrollbar {
            display: none !important;
        }

        :host([disabled]) & {
            overflow: hidden !important;
        }
    }

    .root {
        display: grid;
        gap: var(--Flickable__gap);
        height: 100%;

        :host(:not([scrollBars='hidden'])) & {
            :host([_scroll_height]) & {
                grid-template: auto / auto min-content;
            }
            :host([_scroll_width]) & {
                grid-template: auto min-content / auto;
            }
            :host([_scroll_height][_scroll_width]) & {
                grid-template: auto min-content / auto min-content;
            }
        }
    }

    .scrollBar {
        --TrackBar__length: auto !important;
        --TrackBar__padding: 2px;
        --TrackBar__rounding: var(--TrackBar__width);
        --TrackBar__width: var(--Flickable__scrollBar__width) !important;
        background: transparent;
        border-radius: 0;
        display: none !important;
        pointer-events: none;

        &::part(handle) {
            pointer-events: initial !important;
        }
    }

    .scrollBar_x {
        --TrackBar__puck__length: max(var(--Flickable__puck__length_min), var(--_Flickable__puck_x__length) * 1px) !important;
        overflow-x: clip !important;

        &::part(handle) {
            margin: var(--_Flickable__puck__margin_inner) 0 var(--_Flickable__puck__margin_outer) 0 !important;
        }

        :host([scrollBars='phantom']) & {
            margin-top: var(--_Flickable__scrollBar_phantom__margin) !important;

            :host([_scroll_height]) & {
                margin-right: var(--TrackBar__width) !important;
            }
        }
        :host([_scroll_width]:not([scrollBars='hidden'])) & {
            display: block !important;
        }
    }

    .scrollBar_y {
        --TrackBar__puck__length: max(var(--Flickable__puck__length_min), var(--_Flickable__puck_y__length) * 1px) !important;
        overflow-y: clip !important;

        &::part(handle) {
            margin: 0 var(--_Flickable__puck__margin_outer) 0 var(--_Flickable__puck__margin_inner) !important;
        }

        :host([scrollBars='phantom']) & {
            margin-left: var(--_Flickable__scrollBar_phantom__margin) !important;

            :host([_scroll_width]) & {
                margin-bottom: var(--TrackBar__width) !important;
            }
        }
        :host([_scroll_height]:not([scrollBars='hidden'])) & {
            display: block !important;
        }
    }
}
