@layer init {
    :host {
        display: contents;
        height: 400px;
        width: 400px;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 2;
        height: inherit;
        pointer-events: none;
        /* width: inherit; */
        z-index: 2;
    }

    .points {
        box-sizing: border-box;
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        z-index: 3;
    }

    .root {
        display: grid;
        height: inherit;
        justify-content: start;
        width: fit-content;
    }
}
