@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .header {
        /* padding: 5%; */
    }

    .root {
        display: grid;
        grid-template-rows: min-content auto min-content;
        height: 100dvh;

    }

    .setting_alert {
        display: grid;
        grid-template-columns: auto 70px;
        gap: 25px 10px;
        /* padding: 5% 0; */
        padding-top: 5%;
    }

    .setting_language {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .setting_language_list {
        background: black;
        border-radius: 24px;
        border: none;
        color: white;
        height: 35px;
        text-align: center;

    }

    .switch {
        --Switch__length: 70px;
        --Switch__puck__length:30px;
        --Switch__width: 30px;

        align-self: center;
        background: black;

        &::part(puck) {
            background: gray;
        }

        &[on]::part(puck) {
            background: green;
        }
    }
}
