@layer init {
    :host {
        --_TrackBar__track__rounding: calc(var(--TrackBar__rounding) - var(--TrackBar__padding));


        --TrackBar__length: 100px;
        --TrackBar__padding: 0px;
        --TrackBar__puck__length: var(--TrackBar__width);
        --TrackBar__rounding: 0px;
        --TrackBar__width: 20px;

        background: #0002;
        border-radius: var(--TrackBar__rounding);
        box-sizing: border-box !important;
        display: block;
        height: var(--TrackBar__width) !important;
        padding: var(--TrackBar__padding) !important;
        width: var(--TrackBar__length) !important;
    }
    :host([vertical]) {
        height: var(--TrackBar__length) !important;
        width: var(--TrackBar__width) !important;
    }


    .handle {
        inset: 0 !important;
        position: absolute !important;
    }

    .puck {
        background: #0002;
        border-radius: var(--_TrackBar__track__rounding);
        bottom: 0 !important;
        left: 0;
        position: absolute !important;
        right: 0 !important;
        top: 0;
        width: var(--TrackBar__puck__length) !important;

        :host([vertical]) & {
            height: var(--TrackBar__puck__length) !important;
            width: auto !important;
        }
    }

    .root {
        display: contents;
    }

    .track {
        border-radius: var(--_TrackBar__track__rounding);
        height: 100% !important;
        position: relative !important;
        width: 100% !important;
    }
}
