@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .display {
        justify-self: center;
        width: 100%;
    }

    .invite__item {
        align-items: center;
        background: var(--Theme__block__background);
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        gap: var(--Theme__block__gap);
        height: 100%;
        justify-content: center;
        padding: var(--Theme__block__gap);
        text-align: center;
        width: 50%;
    }

    .invite_user {
        align-items: center;
        display: flex;
        gap: var(--Theme__block__gap);
        justify-content: space-between;
    }

    .progressBar {
        height: 5px;
    }

    .progressBar_date {
        :host([_date='all_time']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 66%, var(--Theme__block__background) 66%);
        }
        :host([_date='last_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 33%, var(--Theme__block__background) 33% 66%, var(--Theme__block__background_light) 66%);
        }
        :host([_date='this_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background) 0% 33%, var(--Theme__block__background_light) 33%);
        }
    }

    .progressBar_score {
        :host([_score='referral']) & {
            background: linear-gradient(to right, var(--Theme__block__background) 0% 50%, var(--Theme__block__background_light) 50%);
        }
        :host([_score='income']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 0% 50%, var(--Theme__block__background) 50%);
        }
    }

    .referral_button {
        text-align: center;
        width: 50%;
    }

    .repeater {
        align-items: center;
        display: grid;
        gap: var(--Theme__block__gap);
    }

    .root {
        display: grid;
        gap: var(--Theme__block__gap);
        grid-template-rows: repeat(4, auto);
        height: 100%;
        overflow: hidden;
    }

    .sort_buttons {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}
