@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .display {
        justify-self: center;
        width: 100%;
    }

    .root {
        /* display: grid; */
        /* grid-template-rows: min-content auto min-content; */
        /* height: 100dvh; */
        /* margin: 3%; */
        display: grid;
        gap: var(--Theme__block__gap);
        grid-template-rows: repeat(4, auto);
        height: 100%;
        overflow: hidden;
    }

    .invite_user {
        align-items: center;
        display: flex;
        gap: var(--Theme__block__gap);
        justify-content: space-between;
        /* white-space: nowrap; */
        /* font-size: 5dvw; */
        /* margin: 10px 0 10px 0; */
    }

    .invite__item {
        align-items: center;
        background: var(--Theme__block__background);
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        gap: var(--Theme__block__gap);
        height: 100%;
        justify-content: center;
        padding: var(--Theme__block__gap);
        width: 50%;
        text-align: center;
    }

    /* .invite_button { */
        /* align-items: center; */
        /* background: Black; */
        /* display: flex; */
        /* justify-content: space-between; */
    /*     justify-content: center; */
    /*     gap: var(--Theme__block__gap); */
    /*     height: 7dvh; */
    /*     width: 50%; */
    /*     border-radius: 15px; */
    /*     box-sizing: border-box; */
    /* } */

    /* .invite_income { */
        /* align-items: center; */
        /* background: Black; */
        /* display: flex; */
        /* justify-content: space-between; */
    /*     justify-content: center; */
    /*     gap: var(--Theme__block__gap); */
    /*     height: 7dvh; */
    /*     width: 50%; */
    /*     border-radius: 15px; */
    /*     box-sizing: border-box; */
    /* } */

    .sort_buttons {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .progressBar {
        /* background: var(--Theme__block__background); */
        height: 5px;
    }

    .progressBar_score {
        :host([_score='referral']) & {
            background: linear-gradient(to right, var(--Theme__block__background) 0% 50%, var(--Theme__block__background_light) 50%);
            /* height: 4px; */
        }
        :host([_score='income']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 0% 50%, var(--Theme__block__background) 50%);
            /* height: 4px; */
        }
    }

    .progressBar_date {
        :host([_date='this_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background) 0% 33%, var(--Theme__block__background_light) 33%);
            /* height: 4px; */
        }
        :host([_date='last_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 33%, var(--Theme__block__background) 33% 66%, var(--Theme__block__background_light) 66%);
            /* height: 4px; */
        }
        :host([_date='all_time']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 66%, var(--Theme__block__background) 66%);
            /* height: 4px; */
        }
    }

    .repeater {
        align-items: center;
        display: grid;
        gap: var(--Theme__block__gap);
    }

    .referral_button {
        text-align: center;
        width: 50%;
    }
}
