@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .root {
        /* display: grid; */
        /* grid-template-rows: min-content auto min-content; */
        height: 100dvh;
        margin: 3%
    }

    .invite_user {
        align-items: center;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        font-size: 5dvw;
        margin: 10px 0 10px 0;
    }

    .invite_button {
        align-items: center;
        background-color: Black;
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 5%;
        height: 7dvh;
        width: 45dvw;
        border-radius: 15px;
        box-sizing: border-box;
    }

    .invite_income {
        align-items: center;
        background: Black;
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 5%;
        height: 7dvh;
        width: 45dvw;
        border-radius: 15px;
        box-sizing: border-box;
    }

    .sort_buttons {
        display: flex;
        justify-content: space-around;
    }

    .progressBar {
        height: 2px;
        background: var(--Theme__block__background_accent_dark)
    }

    .progressBar_score {
        :host([_score='referral']) & {
            background: linear-gradient(to right, var(--Theme__block__background_accent) 0% 50%, var(--Theme__block__background_light) 50%);
            height: 4px;
        }

        :host([_score='income']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 0% 50%, var(--Theme__block__background_accent) 50%);
            height: 4px;
        }
    }

    .progressBar_date {
        :host([_date='this_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background_accent) 0% 33%, var(--Theme__block__background_light) 33%);
            height: 4px;
        }

        :host([_date='last_week']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 33%, var(--Theme__block__background_accent) 33% 66%, var(--Theme__block__background_light) 66%);
            height: 4px;
        }

        :host([_date='all_time']) & {
            background: linear-gradient(to right, var(--Theme__block__background_light) 66%, var(--Theme__block__background_accent) 66%);
            height: 4px;
        }
    }

    .referral {
        display: block;
        margin: auto;
        margin-top: 5px;
    }

    .repeater {
        display: grid;
        align-items: center;
    }

}
